<div class="container">
  <div class="row">
    <form [formGroup]="smtpForm" (submit)="submitSMTP()">
      <select name="provider" formControlName="provider" class="form-control">
        <option value="">Select Provider</option>
        <option value="gmail">Gmail</option>
        <option value="hotmail">Hotmail</option>
        <option value="yahoo">Yahoo</option>
      </select>
      <input type="text" name="username" formControlName="username" class="form-control" placeholder="username">&nbsp;
      <input type="password" name="password" formControlName="password" class="form-control" placeholder="password">&nbsp;
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="jumbotron">
  <div class="list-group">
    <div class="list-group-item" *ngFor="let x of inbox">
      <!-- <div [innerHTML]="x.body"></div> -->
      <div>
        <p><b>FROM : </b>{{x.from}}</p>
        <p><b>TO : </b>{{x.to}}</p>
        <p><b>SUBJECT : </b>{{x.subject}}</p>
        <p [innerHTML]="x.html"></p>
      </div>
    </div>
  </div>
</div>